# dependencies
node_modules/

.ai-codex/
.claude/

AGENTS.MD
.agents/

# build artifacts
.next/
out/
dist/
email-chain/

bug-reports/

mobile-app/.idea

# environment & secrets
.env*
*.env
# firebase-debug.log
storage-cors.json
super-volcano-oem-portal-firebase-adminsdk-fbsvc-9afc946529.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# macOS
.DS_Store
.vercel
mobile-app/android/
mobile-app/ios/build/
.env*.local
project.zip
